body {
	padding: 2rem;
	font-family: sans-serif;
	max-width: 740px;
}

h1 {
	margin-bottom: 3rem;
}

.button {
	padding: 1rem 1.5rem;

	color: #fff;
	background-color: #000;
}

.tags {
	margin: 4rem 0;
}

.tag {
	display: inline-block;
	margin-right: 1rem;
}
